<table class="table table-hover" *ngIf="employeeList && employeeList.length">
    <thead>
        <tr>
            <th>EMP Code</th>
            <th>Name</th>
            <th>Position</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeList">
            <td>{{employee.EMPCode}}</td>
            <td>{{employee.FullName}}</td>
            <td>{{employee.Position}}</td>
            <td>{{employee.Mobile}}</td>
            <td>
                <mat-icon style="color: #673ab7;" (click)="populateForm(employee)">edit</mat-icon>
                <mat-icon style="color: #673ab7;" (click)="onDelete(employee.EmplloyeeId)">delete</mat-icon>
            </td>
        </tr>
    </tbody>
</table>