<table class="table table-bordered">
    <thead>
        <tr>
            <th>EMP Code</th>
            <th>Name</th>
            <th>Position</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeList">
            <td (click)="populateForm(employee)">{{employee.EMPCode}}</td>
            <td (click)="populateForm(employee)">{{employee.FullName}}</td>
            <td (click)="populateForm(employee)">{{employee.Position}}</td>
            <td (click)="populateForm(employee)">{{employee.Mobile}}</td>
            <td><button class="btn btn-sm btn-outline-danger" (click)="onDelete(employee.EmplloyeeId)">X</button></td>
        </tr>
    </tbody>
</table>