<div class="alert alert-success alert-dismissible" *ngIf="isShow">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onClose()">&times;</a>
    <strong>{{message}}</strong>
</div>
<form [formGroup]="employeeFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">

    <mat-form-field class="full-width">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="FullName" required>
        <mat-error *ngIf="FullName.invalid && FullName.touched">Field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Position</mat-label>
        <input matInput formControlName="Position">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Employee Code</mat-label>
        <input matInput formControlName="EMPCode" maxlength="6">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Mobile number</mat-label>
        <input matInput formControlName="Mobile" maxlength="10">
    </mat-form-field>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <button mat-raised-button color="primary" style="width: 100%;" [disabled]="!employeeFormGroup.valid">Submit</button>
            </div>
            <div class="col-md-6">
                <button mat-raised-button color="primary" style="width: 100%;" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </div>
</form>